<%- include("./partials/header")%>


<nav class="navbar navbar-light bg-light">
 <a href="/" class="navbar-brand">&nbspTo-Do</a>
</nav>

<div class="container">
    <form action="/add" method="post" class="d-flex my-5">
        <input type="text" name="todo" id="todo" class="form-control" placeholder="Enter Todo...">
        <input type="submit" value="Add Todo" class="btn btn-md btn-dark mx-2" >
    </form>
</div>
<div class="container">
    <ul class="list-group my-5">
        <% todos.forEach(todo => { %>
            <li class="list-group-item" ><%= todo.todo %>
            <a href="/edit/<%= todo._id %>"  style=" position: absolute;left : 93%;top: 2%; bottom: 2%; font-size: 13.5px;" class="btn btn-sm btn-secondary"><span><i class="bi bi-pencil"></i></span></a>
            <a href="/delete/<%= todo._id %>" style=" position: absolute;left : 96%;top: 2%; bottom: 2%; font-size: 13.5px;"class="btn btn-md btn-danger"><span><i class="bi  bi-x-circle"></i></span></a></li>
        <% }) %>
    </ul>
    <!-- <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <td>Task Title</td>
                <td>Status</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <% todos.forEach(todo => { %>
                <tr>
                    <td><%= todo.todo %></td>
                    <td><%if(todo.status == 'true') {%>
                        Finished
                        <% } else { %> 
                        Pending  
                        <% } %></td>
                    <td><a href="/edit/<%= todo._id %>" class="btn btn-sm btn-secondary"><span><i class="bi bi-pencil"></i></span></a>
                        <a href="/delete/<%= todo._id %>" class="btn btn-sm btn-danger"><span><i class="bi  bi-x-circle"></i></span></a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table> -->
</div>

<%- include("./partials/footer")%>
